<! -- File name: index.ejs
	  Author's name: Mohammad Etedali
	  Website address: https://comp299.herokuapp.com
    Date: 5/30/21
	  Description: This is the view for the main page kind of driver page which include main element-->


<% include partials/header.ejs %> 
<% include partials/main_nav.ejs %>

<!--Main page-->
<main class="container">
  <% if (title == "Home") { %>
    <%- include partials/home.ejs %> 
  <% } %>

  <% if (title == "About") { %>
    <%- include partials/about.ejs %> 
  <% } %>

  <% if (title == "Project") { %>
    <%- include partials/project.ejs %> 
  <% } %>

  <% if (title == "Service") { %>
    <%- include partials/service.ejs %> 
  <% } %>
  
</main>

<%- include partials/bottom_nav.ejs %> 
<% include partials/footer.ejs %>
